<mat-spinner *ngIf="loading"></mat-spinner>
<ng-container *ngIf="sauces$ | async as sauces">
  <p *ngIf="!loading && sauces.length <= 0">
    Il n'y a pas de photos !
  </p>
  <p class="list-title" *ngIf="!loading && sauces.length > 0"> PHOTOS CARRIERES</p>
  <div class="sauce-list" *ngIf="!loading && sauces.length  > 0">
    <div class="sauce-list-item" *ngFor="let sauce of sauces" (click)="onClickSauce(sauce._id)">
      <img alt="Hot sauce bottle" [src]="sauce.imageUrl">
      <h4>{{ sauce.name | uppercase}}</h4>

    </div>
  </div>
</ng-container>